/* AudioPlayer.css */
.audio-button {
    position: sticky; /* Keep the position sticky */
    bottom: 20px; /* Adjust the distance from the bottom */
    right: 20px; /* Adjust the distance from the right */
    z-index: 999; /* Ensure it's on top of everything */
    /* background-color: white; */
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
  }
  
  
  
  .audio-player-container.sticky {
    position: fixed;
    top: 20px; /* Adjust the top position when sticky */
  }