
@font-face {
    font-family: 'BeausiteFit-Light';
    src: url('../Font/Beausite\ font\ family\ ok/Beausite_Fit-GrpahicEx.com/Beausite_Fit-GrpahicEx.com/BeausiteFit-Light.otf') format('opentype');
  }
  
  
  @font-face {
    font-family: 'Sofia Pro Light';
    src: url('../Font/Sofia_Pro-font-family\ ok/Sofia_Pro-font-family/Sofia Pro Light.otf') format('opentype');
  }
  
  .galaCelebration-container {
    height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('../Img/Page\ 05\ -\ Background.png');
      background-size: cover;
      background-position: center;
      padding-bottom: 0;
      opacity: 0; /* Initially hidden */
      transition: opacity 0.5s ease; /* Transition effect */
      width: 25%;
      margin: 0 auto;
  }

  .galaCelebration-container.show {
    opacity: 1; /* Show when the 'show' class is applied */
  }
  
  .galaCelebration-container::before {
      content: '';
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
    }

  
    .galaCelebration-con {
      position: relative;
      background-color: rgba(0, 0, 0, 0.5);
      max-width: 600px;
      width: 80%; /* Ensure full width */
      box-sizing: border-box; 
    }
  .text-pg2 {
      color: white;
      font-family: 'BeausiteFit-Light', sans-serif;
      padding-top: 7em;
      padding-bottom: 2em;
  }
  .text-invite {
    color: white;
    font-family: 'Sofia Pro Light', sans-serif;
    font-size: x-large;
    padding-top: 2em;
  }
  
  .text-go {
    font-size: xx-large;
  }
  
  
  .text-tgl {
    font-size: xx-large;
  }
  
  .text-txt {
    font-size: smaller;
  }


.text-image {
    max-width: 100%;
    height: auto;
    filter: invert(100%);
  }
  

@media (max-width: 767px) {
    .galaCelebration-container {
      width: 100%;
      margin: 0 auto;
    }
    .galaCelebration-con {
      width: 80%;
    }
  
  }