.photos {
    width: 90%;
}
.photos-gallery {
    padding-top: 4em;
    padding-bottom: 2em;
    background-color: white;
}

.gallery-images {
    padding: 15px;
    border-radius: 10%;
    transition: opacity 0.5s ease-in-out;

}
.gallery-images:hover {
    opacity: 0.8;
  }
  

@media (max-width: 767px) {
    .gallery-images {
        border-radius: 20%;
    }
  }

 