/* Adjust the Home component for mobile screens */
.pg1-con {
  height: 100vh;
  background-image: url('../Img/Page\ 02\ -\ Background.png');
  background-size: cover;
  background-position: center;
  padding-bottom: 0;
  width: 25%; /* Set the width to 100% for mobile screens */
  margin: 0 auto;
}


.home-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 20%; /* Set the width to 100% for mobile screens */
  box-sizing: border-box;
  padding: 20px; /* Adjust padding for spacing */
  max-width: 500px; /* Set a maximum width for content */
}

.text-image {
  max-width: 100%; /* Ensure the image fills the container */
  height: auto;
  filter: invert(100%);
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.text-image.show {
  opacity: 1;
}

.text-pg1 {
  color: white;
  font-family: 'BeausiteFit-Light', sans-serif;
  padding-top: 2em; /* Adjust padding for spacing */
  padding-bottom: 2em; /* Adjust padding for spacing */
}

.tittle-1 {
  color: white;
  font-size: x-large;
}

@media (max-width: 767px) {
  .pg1-con {
    width: 100%;
    margin: 0 auto;
  }
  .home-container {
    width: 90%;
  }

}