/* @font-face {
  font-family: 'Sofia Pro Light';
  src: url('../Font//Sofia_Pro-font-family\ ok/Sofia_Pro-font-family/Sofia Pro Light.otf') format('opentype');
} */
@font-face {
  font-family: 'BeausiteFit-Light';
  src: url('../Font/Beausite\ font\ family\ ok/Beausite_Fit-GrpahicEx.com/Beausite_Fit-GrpahicEx.com/BeausiteFit-Light.otf') format('opentype');
}

.test-h1 {
    background-color: blue;
    color: red;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 5s ease forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .pg1-con {
    height: 100vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-image: url('../Img/page\ 2-a.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 0;
}

  .pg1-con::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

  .home-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%; /* Ensure full width */
    box-sizing: border-box; 
  }


  .text-pg1 {
    color: white;
    font-family: 'BeausiteFit-Light', sans-serif;
    padding-top: 6em;
    padding-bottom: 6em;
  }

.tittle-1 {
  color: white;
  font-size: x-large;
}