.schedule-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Img/splash.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 0;
}

.schedule-container::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
  }


  .schedule-con {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%; /* Ensure full width */
    box-sizing: border-box; 
  }
.text-pg2 {
    color: white;
    font-family: 'BeausiteFit-Light', sans-serif;
    padding-top: 7em;
    padding-bottom: 2em;
}