@font-face {
    font-family: 'BeausiteFit-Light';
    src: url('/home/dann/web-hotel/grand-opening/src/Assets/Font/Beausite font family ok/Beausite_Fit-GrpahicEx.com/Beausite_Fit-GrpahicEx.com/BeausiteFit-Light.otf') format('opentype');
  }
  
.myBg {
    display: flex;
    background-color: #527a6f !important;
    color: #ebe4da;
    text-align: center;
    justify-content: center;
  }
  
.splash-screen {
    /* Make the splash screen full height of the viewport */
    height: 100vh;
    /* Center the content vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Add position relative */
  }
  
.splash-screen::before {
    content: ''; /* Create a pseudo-element */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../Img/splashImage.jpg'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    filter: brightness(50%); /* Adjust as needed */
  }
  
.splash-screen .container {
    /* Ensure container takes up all available space */
    width: 100%;
    height: 100%;
    /* Center content inside container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Add position relative */
    z-index: 1; /* Ensure content is above the pseudo-element */
  }
  
.splash-screen h1,
.splash-screen button {
    /* Center text horizontally */
    color: white;
    text-align: center;
    font-size: 3em;
    font-family: 'BeausiteFit-Light', sans-serif;
  }
  